
.mo{
    display: none;
}
.station2{
    display: none!important;
  
}

@media (max-width:1280px){
    .commonFrame.lmb{
        margin-bottom: var(--space-large);
    }
    .commonFrame.smb{
        margin-bottom: var(--space-small);
    }
    .commonFrame.large_margin{
        margin: var(--space-large) 1rem;
    }
    .commonFrame.form_submit{
        margin-bottom: var(--space-xlarge);
    }
    .copy{
        text-align: center;
    }
    .info {
        margin-bottom: var(--space-middle);
        display: flex;
        gap: 0 var(--space-small);
        flex-wrap: wrap;
        justify-content: center;
        opacity: 0.8;
    }
    .foot_menu {
        margin-bottom: var(--space-middle);
        display: flex;
        gap: var(--space-small);
        justify-content: center;
    }
    footer .commonFrame {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
        align-items: center;
        gap: 1rem;
    }
    .commonFrame.bbs_pagenation{
     margin-bottom: var(--space-xlarge);
     }
     
    .commonFrame.notice_form {
        margin-bottom: var(--space-small);
    }

    .commonFrame.option_bar{
        margin: var(--space-middle) 1rem;
    }
    html{
      font-size: var( --font-size-tab);
    }
    .station6 figure{
        width:100% ;
        height: 20rem;
        border-radius: 20px;
      } 
    .commonFrame.desc3{
        gap: 1rem;
    }
    .commonFrame.desc3 br{
        display: none;
    }
    .pc{
        display: none;
    }
    .commonFrame{
        width: auto;
        margin: 0 1rem;
        
    }
    .commonFrame.station5{
        padding-bottom: var(--space-large);
        margin: 0 1rem;
    }
    .commonFrame.station6{
        padding-bottom: var(--space-large);
        margin: 0 1rem;
         }
    .type1{
     
        gap: 1rem;
       }
    .pt100{
        padding: 0;
    }
    .mo{display: block;}
    .type1{
        margin-top: var(--space-large);
    }
    .header_mo{
        
        position: fixed;
        left: 0;
        z-index: 1000;
        top: 0;
        width: 100%;
        height: 5rem;
        background-color: var(--main-color);
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .logo_mo{
       
        display: flex;
        align-items: center;
    }
    .logo_mo img{
      
        height: 4rem;
    }
    #btn_gnb{
        display: flex;
       align-items: center;
       padding-left:1rem ;
       color: #fff;
       cursor: pointer;

    }
    #btn_gnb img{
        height: 1.5rem;
    }
    .hidden_gnb{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        box-sizing: border-box;
        background-color: #fff;
        transform: translateX(100%);
        padding: 1rem;
        /* transition: all 0.6s ease 0s; */

      
    }
    .hidden_gnb.on{
        transform: translateX(0%);
    }
    .hidden_gnb_top{
        display: flex;
        justify-content: space-between;
      
        height: 5rem;

    }

    /* .hidden_gnb_top a:before{
        content: "";
        width: 2rem;

    }      */

    #btn_close_gnb img{
        height: 1.5rem;

    }
    #btn_close_gnb{
        display: flex;
        align-items: center;
        padding-left: 2rem;
        cursor: pointer;
    }
    .gnb_mo_wrap{
        
        margin: var(--space-middle) 0;
        height: calc(100vh - 16rem);
        overflow: auto;
        min-height: 15rem;
    }
    .hidden_gnb_bottom{
      
        height: 5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .sns{
        display: flex;
        gap:var(--space-small);
    }
    .sns img{
        height: 1.5rem;
    }
    .sns>li{
       padding: 5px;
    }
    .gnb_mo a{
        display: flex;
        height: 2.5rem;
        align-items: center;
        padding: 0 1rem;

    }
    .gnb_mo ul{
        background-color: var(--main-color);
        color: #fff;
    }
    .gnb_mo>li:after{
        content: "";
        position: absolute;
        right: 1rem;
        top: 0.75rem;
        width: 1rem;
        height:1rem;
  
        background: url("../img/up.svg")no-repeat 50%,50% / contain;
        transform: rotate(180deg);
        transition: all 0.3s ease 0s;


    }
    .gnb_mo>li:hover:after{
        transform: rotate(0deg);
    }
    .gnb_mo>li:hover ul{
        height: 12.5rem;
    }
    .gnb_mo ul{
       
        height: 0;
        overflow: hidden;
        transition: all 0.5s ease 0s;

    }

    .gnb_mo>li{
        border-bottom: 1px solid var(--inactive-color);
        position: relative;
    }
   




}


@media(max-width:768px){
    .list_table tr th:nth-of-type(2){
        display: none;
    }
    .list_table tr th:nth-of-type(4){
        display: none;
    }
    .list_table tr td:nth-of-type(2){
        display: none;
    }
    .list_table tr td:nth-of-type(4){
        display: none;
    }
    .list_table th:last-of-type{
        width: 30%;
     }
     /* .list_table th:nth-of-type(4){
        width: 15%;
     } */
     .list_table th:nth-of-type(3){
        width: 64%;
     }
     .list_table th:nth-of-type(2){
        width: 7%;
     }
     .list_table th:nth-of-type(1){
        width: 8%;
     }
    .commonFrame.desc1 {
        gap: 1rem;
        flex-direction: column;
    }
    .commonFrame.desc2 {
        gap: 1rem;
        flex-direction: column;
    }
    .commonFrame.desc3{
        flex-direction: column;
        gap: 1rem;
    }
    .commonFrame.desc3 figure{
        height: 18rem;
        flex-grow: 0;
        flex-basis: auto;
    }
    .commonFrame.fade {
        display: flex;
        margin-top: var(--space-large);
        margin-bottom: var(--space-large);
        align-items: flex-end;
        gap: 1rem;
        flex-direction: column;
    }
    html{
        font-size: var( --font-size-mo);
    }
    .type1{
        flex-direction: column;
    }
    
    .station1{display: none !important;}
    .station2{
        display: block !important;
        width: 100%;
        height: auto;
       
    }
    .station2-pagination-bullet {
        width:0.5rem;
        height:0.5rem;
        display: inline-block;
        border-radius: var(--swiper-pagination-bullet-border-radius, 50%);
        background: #fff;
        opacity: 1;
    }
    .station2-pagination-bullet-active {
       opacity: 1;
       background: var(--main-color);
    }
 
    .type1 figure img{
        width: 80%;
    }

}
@media(max-width:300px){
    .hidden_gnb_bottom{
        flex-direction: column-reverse;
    }
    .commonFrame.option_bar{
        flex-direction: column;
        gap: 1rem;
    }
    .list_table th:last-of-type{
        display: none;
     }
     /* .list_table th:nth-of-type(4){
        width: 15%;
     } */
     .list_table th:nth-of-type(3){
        width: 64%;
     }
     /* .list_table th:nth-of-type(2){
        width: 7%;
     } */
     .list_table th:nth-of-type(1){
        width: 10%;
     }
}
